<!--
  since we are resolving the data, we can use the router.snapshot
  and work with it as if it was sync and not async data
-->
<!-- old async -->
<!--
<div *ngIf="(games$ | async) as games; else loading">
  <div style="display:flex; flex-direction: row; flex-wrap: wrap; justify-content: space-evenly">
        <app-game-card *ngFor="let game of games" [game]="game"></app-game-card>
  </div>
</div> -->

<div
  style="display:flex; flex-direction: row; flex-wrap: wrap; justify-content: space-evenly"
>
  <app-game-card *ngFor="let game of games" [game]="game"></app-game-card>
</div>
