<nav class="rio-navbar-header">
  <ng-container *ngFor="let navItem of navItems; first as isFirst">
    <app-nav-button
      *ngIf="!navItem.isSpacer"
      [label]="navItem.label"
      [link]="navItem.link"
      [ariaLabel]="navItem.ariaLabel"
      [ngStyle]="{ 'margin-left.px': isFirst ? 50 : '' }"
    ></app-nav-button>

    <div *ngIf="navItem.isSpacer" class="flex-spacer"></div>
  </ng-container>
  <app-nav-button [label]="fullName" [ariaLabel]="fullName" link="['/profile']"></app-nav-button>
</nav>
