<nav class="rio-navbar-header">
  <a mat-button class="rio-button" routerLink="/" aria-label="Game Progression">
    <span>Game Progression</span>
  </a>

  <a mat-button class="rio-button" routerLink="/" aria-label="Dashboard">
    <span>Dashboard</span>
  </a>
  <a mat-button class="rio-button" routerLink="/" aria-label="Games List">
    <span>Games</span>
  </a>

  <div class="flex-spacer"></div>

  <a mat-button class="rio-button rio-navbar-hide-small" href="https://github.com/rangle/rio-ng-training-app"
     aria-label="GitHub Repository">
    <img class="rio-github-logo"
         src="../../../assets/github-circle-white-transparent.svg"
         alt="github">
    GitHub
  </a>
  <a mat-icon-button class="rio-button rio-navbar-show-small"
     href="https://github.com/rangle/rio-ng-training-app" aria-label="GitHub Repository">
    <img class="rio-github-logo"
         src="../../../assets/github-circle-white-transparent.svg"
         alt="github">
  </a>
  <a mat-button class="rio-button" routerLink="/" aria-label="Game Progression">
    <span>Evan Schultz</span>
  </a>
</nav>

