<section class="form-container">
  <ng-container [formGroup]="formGroup">
    <ng-container [formGroupName]="formGroupName">
      <mat-form-field>
        <mat-label>Street 1</mat-label>
        <input matInput formControlName="street1" type="text" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Street 2</mat-label>
        <input matInput formControlName="street2" type="text" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>City</mat-label>
        <input matInput formControlName="city" type="text" />
      </mat-form-field>
    </ng-container>
  </ng-container>
</section>
