.profile-card {
  max-width: 600px;
}
.content-wrapper {
  padding: 30px;
}
dt {
  float: left;
  width: 30%;
  text-align: right;
  padding: .25em;
  clear: left;
}
dd {
  float: left;
  width: 60%;
  padding: .25em 0;
}
dl:after {content:"";display:table;clear:both;}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-container > * {
  width: 100%;
}
